@page "/"

<h1>BlazorSplit Demo</h1>

Welcome to your new app.

<div style="width: 500px; height: 500px">
    <Split>
        <SplitArea>
            <div style="height: 100%; width: 100%; background: red;"></div>
        </SplitArea>
        
        <SplitArea>
            <div style="height: 100%; width: 100%; background: green;"></div>
        </SplitArea>
    </Split>
</div>
