.blazor-split {
    width: 100%;
    height: 100%;
    flex: 1;
    display: flex;
}

.blazor-split[data-direction=Horizontal] { flex-direction: row; }

.blazor-split[data-direction=Vertical] { flex-direction: column; }


.blazor-split .blazor-split-area { overflow: auto; }


.blazor-split .gutter { background: lightgray; }

.blazor-split .gutter.gutter-horizontal { cursor: ew-resize; }

.blazor-split .gutter.gutter-vertical { cursor: ns-resize; }