<a href="https://github.com/BlazorComponents/BlazorSplit/blob/master/src/BlazorSplit.TestApp/Pages/@(Name).cshtml" target="_blank">Source Code</a>

@functions
{

    [Parameter]
    public string Name { get; set; }
}