@page "/"
@using BlazorSplit.Models

<h1>Hello, world!</h1>

Welcome to your new app.


<div style="width: 500px; height: 500px;">
    <Split Sizes="new float[] {20, 80}">
        <SplitArea>
            Test1
        </SplitArea>

        <SplitArea>
            Test2
        </SplitArea>
    </Split>

</div>

<div style="width: 500px; height: 500px;">
    <Split Direction="@SplitDirection.Vertical">
        <SplitArea>
            Test1
        </SplitArea>

        <SplitArea>
            Test2
        </SplitArea>
    </Split>

</div>