@page "/"
@using BlazorSplit.Models

<h1>Hello, world!</h1>

Welcome to your new app.

@(sizes?.FirstOrDefault() ?? 0)
<div style="width: 500px; height: 500px;">
    <Split OnDragEnd="@Test">
        <SplitArea>
            Test1
        </SplitArea>
        <SplitArea>
            Test2
        </SplitArea>
    </Split>

</div>

@functions
{
    float[] sizes;


    void Test(float[] sizes)
    {
        this.sizes = sizes;
        this.StateHasChanged();
    }

}